:root {
    --dark-bg-workspace: #1A1625;
    --dark-bg: #211b2f;
    --dark-hover: #373244;
    --user-msg-bg: #8c63f7;
    --hover-overlay: #9067f812;
    --border-outline: rgb(126, 34, 206);
    --text-dark: #2f2e33;
    --text-light: #84838d;
    --side-bar-bg: #2E2055FF;
    --side-bar-btn: #9570f8;
    --side-bar-hover: #795bc7;
    --placeholder-text: #f8f6fb;
    --gradient-stop-1: #e59dfe;
    --gradient-stop-2: #5b02cd;
    --chat-item-bg: rgba(117, 89, 197, 0.6);
    --brand-name-gradient-stop-1: rgb(80, 35, 217);
    --brand-name-gradient-stop-2: rgb(217, 35, 189);
    --dark-btn-bg: rgb(24 24 27);
    --light-bg: #8c63f740
}
.dark body {
    background: var(--dark-bg) !important;
}
.dark .custom-theme [data-element-id='workspace-bar'] {
    background: var(--dark-bg-workspace) !important;
}
.dark .custom-theme [data-element-id='chat-space-background'] {
    background: var(--dark-bg) !important;
}
.dark .custom-theme [data-element-id='chat-space-end-part'] {
    background: var(--dark-bg);
}
.dark .custom-theme [data-element-id='chat-space-beginning-part'] {
    background: var(--dark-bg);
}
.dark .custom-theme [data-element-id='width-adjust-bar'] {
    background: var(--dark-bg);
}
.dark .custom-theme [data-element-id='width-adjust-bar']:hover {
    background: var(--dark-hover);
    color: white;
}
.custom-theme [data-element-id='user-message'] {
    background: var(--user-msg-bg);
    color: white;
}
.custom-theme [data-element-id='user-message']::selection {
    background: var(--dark-bg);
}
.custom-theme [data-element-id='ai-response'] {
    background: var(--dark-hover);
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 12px;
}
.custom-theme [data-element-id='response-block']:hover {
    background: var(--hover-overlay);
}
.dark .custom-theme [data-element-id='response-block']:hover {
    background: var(--hover-overlay);
}
.custom-theme [data-element-id='model-setting-button'] {
    background: radial-gradient(
        circle at 10% 20%,
        var(--gradient-stop-1) 0%,
        var(--gradient-stop-2) 72.4%
    );
    color: white;
    transition: background 0.2s ease;
}
.custom-theme [data-element-id='model-setting-button']:focus {
    outline: none;
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.custom-theme [data-element-id='model-setting-button']:hover {
    background: radial-gradient(
        circle at 10% 20%,
        var(--gradient-stop-2) 0%,
        var(--gradient-stop-1) 72.4%
    );
}
.dark .custom-theme [data-element-id='model-setting-button'] {
    color: white;
}
.custom-theme [data-element-id='model-setting-info'] {
}

.dark .custom-theme [data-element-id='chat-input-textbox'] {
    background: var(--dark-hover);
}
.custom-theme [data-element-id='current-chat-title'] {
    color: var(--text-dark);
}
.custom-theme [data-element-id='current-chat-info'] {
    color: var(--text-light);
}
.custom-theme [data-element-id='brand-icon'] {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.custom-theme [data-element-id='brand-name'] {
    background: linear-gradient(
        109.6deg,
        var(--brand-name-gradient-stop-1) 11.2%,
        var(--brand-name-gradient-stop-2) 91.1%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.custom-theme [data-element-id='brand-tagline'] {
    color: var(--text-light);
}
.dark .custom-theme [data-element-id='brand-tagline'] {
    color: var(--text-light);
}
.custom-theme [data-element-id='current-character-description'] {
}
.custom-theme [data-element-id='regenerate-button']:hover {
    background: white;
    color: var(--dark-hover);
    border: solid 1px var(--dark-hover);
}
.custom-theme [data-element-id='regenerate-button'] {
    background: white;
    color: var(--user-msg-bg);
    border: solid 1px var(--user-msg-bg);
}
.dark .custom-theme [data-element-id='regenerate-button'] {
    background: var(--dark-btn-bg);
    color: var(--user-msg-bg);
    border: solid 1px var(--user-msg-bg);
}
.dark .custom-theme [data-element-id='regenerate-button']:hover {
    background: var(--user-msg-bg);
    color: white;
    border: solid 1px var(--user-msg-bg);
}
.custom-theme [data-element-id='share-button']:hover {
    background: white;
    color: var(--dark-hover);
    border: solid 1px var(--dark-hover);
}
.custom-theme [data-element-id='share-button'] {
    background: white;
    color: var(--user-msg-bg);
    border: solid 1px var(--user-msg-bg);
}
.dark .custom-theme [data-element-id='share-button'] {
    background: var(--dark-btn-bg);
    color: var(--user-msg-bg);
    border: solid 1px var(--user-msg-bg);
}
.dark .custom-theme [data-element-id='share-button']:hover {
    background: var(--user-msg-bg);
    color: white;
    border: solid 1px var(--user-msg-bg);
}
.custom-theme #elements-in-action-buttons [data-element-id='prompt-library-button']:hover {
    background: white;
    color: var(--dark-hover);
    border: solid 1px var(--dark-hover);
}
.custom-theme #elements-in-action-buttons [data-element-id='prompt-library-button'] {
    background: white;
    color: var(--user-msg-bg);
    border: solid 1px var(--user-msg-bg);
}
.dark .custom-theme #elements-in-action-buttons [data-element-id='prompt-library-button'] {
    background: var(--dark-btn-bg);
    color: var(--user-msg-bg);
    border: solid 1px var(--user-msg-bg);
}
.dark .custom-theme #elements-in-action-buttons [data-element-id='prompt-library-button']:hover {
    background: var(--user-msg-bg);
    color: white;
    border: solid 1px var(--user-msg-bg);
}
.custom-theme [data-element-id='prompt-library-button']:hover {
    background: white;
    color: var(--dark-hover);
    border: solid 1px var(--dark-hover);
}
.custom-theme [data-element-id='prompt-library-button'] {
    background: white;
    color: var(--user-msg-bg);
    border: solid 1px var(--user-msg-bg);
}
.dark .custom-theme [data-element-id='prompt-library-button'] {
    background: var(--dark-btn-bg);
    color: var(--user-msg-bg);
    border: solid 1px var(--user-msg-bg);
}
.dark .custom-theme [data-element-id='prompt-library-button']:hover {
    background: var(--user-msg-bg);
    color: white;
    border: solid 1px var(--user-msg-bg);
}
.custom-theme [data-element-id='available-prompts-count'] {
    color: var(--text-light);
}
.dark .custom-theme [data-element-id='available-prompts-count'] {
    color: rgb(226 232 240);
}
.custom-theme [data-element-id='new-chat-button']:hover {
    background: white;
    color: var(--dark-hover);
    border: solid 1px var(--dark-hover);
}
.custom-theme [data-element-id='new-chat-button'] {
    background: white;
    color: var(--user-msg-bg);
    border: solid 1px var(--user-msg-bg);
}
.dark .custom-theme [data-element-id='new-chat-button'] {
    background: var(--dark-btn-bg);
    color: var(--user-msg-bg);
    border: solid 1px var(--user-msg-bg);
}
.dark .custom-theme [data-element-id='new-chat-button']:hover {
    background: var(--user-msg-bg);
    color: white;
    border: solid 1px var(--user-msg-bg);
}
.custom-theme [data-element-id='reset-chat-button']:hover {
    background: white;
    color: var(--dark-hover);
    border: solid 1px var(--dark-hover);
}
.custom-theme [data-element-id='reset-chat-button'] {
    background: white;
    color: var(--user-msg-bg);
    border: solid 1px var(--user-msg-bg);
}
.dark .custom-theme [data-element-id='reset-chat-button'] {
    background: var(--dark-btn-bg);
    color: var(--user-msg-bg);
    border: solid 1px var(--user-msg-bg);
}
.dark .custom-theme [data-element-id='reset-chat-button']:hover {
    background: var(--user-msg-bg);
    color: white;
    border: solid 1px var(--user-msg-bg);
}
.custom-theme [data-element-id='list-more-button']:hover {
    background: white;
    color: var(--dark-hover);
    border: solid 1px var(--dark-hover);
}
.custom-theme [data-element-id='list-more-button'] {
    background: white;
    color: var(--user-msg-bg);
    border: solid 1px var(--user-msg-bg);
}
.dark .custom-theme [data-element-id='list-more-button'] {
    background: var(--dark-btn-bg);
    color: var(--user-msg-bg);
    border: solid 1px var(--user-msg-bg);
}
.dark .custom-theme [data-element-id='list-more-button']:hover {
    background: var(--user-msg-bg);
    color: white;
    border: solid 1px var(--user-msg-bg);
}

.custom-theme [data-element-id='more-options-button'],
.custom-theme [data-element-id='send-button'] {
    background: var(--user-msg-bg);
}
.custom-theme [data-element-id='more-options-button']:hover,
.custom-theme [data-element-id='send-button']:hover {
    background: var(--border-outline);
}
.custom-theme [data-element-id='select-character-button']:hover {
    background: white;
    color: var(--dark-hover);
    border: solid 1px var(--dark-hover);
}
.custom-theme [data-element-id='select-character-button'] {
    background: white;
    color: var(--user-msg-bg);
    border: solid 1px var(--user-msg-bg);
}
.dark .custom-theme [data-element-id='select-character-button']:hover {
    background: var(--user-msg-bg);
    color: white;
}
.dark .custom-theme [data-element-id='select-character-button'] {
    background: var(--dark-btn-bg);
    color: var(--user-msg-bg);
    border: solid 1px var(--user-msg-bg);
    transition: background 0.5s ease;
}
.custom-theme [data-element-id='available-characters-count'] {
    color: var(--text-light);
}
.dark .custom-theme [data-element-id='available-characters-count'] {
    color: rgb(226 232 240);
}
.custom-theme [data-element-id='document-type'] {
    color: var(--text-light);
}
.custom-theme [data-element-id='user-profile-button'] {
}
.custom-theme [data-element-id='user-profile-image'] {
}
.custom-theme [data-element-id='model-setting-button-main'] {
}
.custom-theme [data-element-id='temperature-info'] {
}
.custom-theme [data-element-id='plugins-button'] {
}
.custom-theme [data-element-id='plugins-info-button'] {
}
.custom-theme [data-element-id='plugins-switch-enabled'] {
    background: var(--user-msg-bg);
}
.custom-theme [data-element-id='plugins-switch-enabled']:focus {
    outline: none;
    box-shadow: 0 0 0 2px white, 0 0 0 4px var(--user-msg-bg);
}
.custom-theme [data-element-id='plugins-switch-disabled']:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 4px var(--user-msg-bg);
}
.custom-theme [data-element-id='side-bar-background'] {
    background: var(--side-bar-bg);
}
.custom-theme [data-element-id='sidebar-beginning-part'] {
    background: var(--side-bar-bg);
}
.custom-theme [data-element-id='new-chat-button-in-side-bar'] {
    background: var(--side-bar-btn);
    transition: background 0.2s ease;
}
.custom-theme [data-element-id='new-chat-button-in-side-bar']:hover {
    background: var(--side-bar-hover);
}
.custom-theme [data-element-id='new-chat-button-in-side-bar'] * {
    color: white;
}
.custom-theme [data-element-id='settings-button'],
.custom-theme [data-element-id='nav-user-profile-button'] {
    background: transparent;
    transition: background 0.2s ease;
}
.custom-theme [data-element-id='settings-button']:hover,
.custom-theme [data-element-id='nav-user-profile-button']:hover {
    background: var(--side-bar-hover);
}
.custom-theme [data-element-id='settings-button'] *,
.custom-theme [data-element-id='nav-user-profile-button'] * {
    color: white;
}
.custom-theme [data-element-id='selected-chat-item'] {
    background: var(--chat-item-bg);
}
.custom-theme [data-element-id='custom-chat-item']:hover {
    background: var(--chat-item-bg);
}
.custom-theme [data-element-id='side-bar-footer'] {
    background: var(--chat-item-bg);
}
.custom-theme [data-element-id='search-chats-bar'] {
    background: var(--side-bar-bg);
    border: solid 0.5px gray;
}
.custom-theme [data-element-id='search-chats-bar']::placeholder {
    color: var(--placeholder-text);
    font-size: 14px;
}
.custom-theme [data-element-id='search-chats-bar']:focus {
    outline: none;
    border: solid 0.5px var(--placeholder-text);
    box-shadow: 0 0 0 1px var(--placeholder-text);
}
.custom-theme [data-element-id='select-chats-symbol'],
.custom-theme [data-element-id='create-new-folder'],
.custom-theme [data-element-id='tag-search-button'] {
    color: var(--placeholder-text);
}
.dark .custom-theme [data-element-id='select-chats-symbol'],
.dark .custom-theme [data-element-id='create-new-folder'],
.dark .custom-theme [data-element-id='tag-search-button'] {
    color: var(--placeholder-text);
}
.custom-theme [data-element-id='select-chats-button'] {
    background: var(--side-bar-btn);
    transition: background 0.2s ease;
}
.custom-theme [data-element-id='select-chats-button']:hover {
    background: var(--side-bar-hover);
}
.custom-theme [data-element-id='select-chats-button'] * {
    color: white;
}
.custom-theme [data-element-id='language-button'] {
    background: var(--side-bar-bg);
}
.custom-theme [data-element-id='language-button']:hover {
    background: var(--side-bar-hover);
}
.custom-theme [data-element-id='dark-mode-button'] {
    background: var(--side-bar-bg);
}
.custom-theme [data-element-id='dark-mode-button']:hover {
    background: var(--side-bar-hover);
}
.custom-theme [data-element-id='sound-mode-button'] {
    background: var(--side-bar-bg);
}
.custom-theme [data-element-id='sound-mode-button']:hover {
    background: var(--side-bar-hover);
}
.custom-theme [data-element-id='cloud-button'] {
    background: var(--side-bar-bg);
}
.custom-theme [data-element-id='cloud-button']:hover {
    background: var(--side-bar-hover);
}
.custom-theme [data-element-id='login-button'] {
    background: var(--side-bar-btn);
    transition: background 0.2s ease;
}
.custom-theme [data-element-id='login-button']:hover {
    background: var(--side-bar-hover);
}
.custom-theme [data-element-id='login-button'] * {
    color: white;
}
.custom-theme [data-element-id='replace-only-button'] {
}
.custom-theme [data-element-id='cancel-edit-message-button'] {
}
.custom-theme [data-element-id='clear-context-button']:hover {
    background: white;
    color: var(--dark-hover);
    border: solid 1px var(--dark-hover);
}
.custom-theme [data-element-id='clear-context-button'] {
    background: white;
    color: var(--user-msg-bg);
    border: solid 1px var(--user-msg-bg);
}
.dark .custom-theme [data-element-id='clear-context-button'] {
    background: var(--dark-btn-bg);
    color: var(--user-msg-bg);
    border: solid 1px var(--user-msg-bg);
}
.dark .custom-theme [data-element-id='clear-context-button']:hover {
    background: var(--user-msg-bg);
    color: white;
    border: solid 1px var(--user-msg-bg);
}
.custom-theme [data-element-id='pop-up-modal'] {
}
.custom-theme [data-element-id='prompt-library-modal-title'] {
    color: var(--side-bar-bg);
}
.dark .custom-theme [data-element-id='prompt-library-modal-title'] {
    color: var(--user-msg-bg);
}
.custom-theme [data-element-id='prompt-library-modal-description'] {
}
.custom-theme [data-element-id='prompt-library-tabs'] {
}
.custom-theme [data-element-id='prompt-library-tabs'].selected {
    color: var(--user-msg-bg);
    border-bottom: 2px solid var(--user-msg-bg);
}
.dark .custom-theme [data-element-id='prompt-library-tabs'].selected {
    color: var(--user-msg-bg);
    border-bottom: solid var(--user-msg-bg);
}
.custom-theme [data-element-id='prompt-library-num-prompts'].selected {
    background: var(--light-bg);
    color: var(--user-msg-bg);
}
.custom-theme [data-element-id='search-your-prompts'] {
}
.custom-theme [data-element-id='search-your-prompts']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.dark .custom-theme [data-element-id='search-your-prompts']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.custom-theme [data-element-id='add-prompt-button'] {
    color: var(--user-msg-bg);
}
.custom-theme [data-element-id='add-new-prompt-title'] {
}
.custom-theme [data-element-id='add-new-prompt-input']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}

.dark .custom-theme [data-element-id='search-chats-bar']:focus,
.dark .custom-theme [data-element-id='add-new-prompt-input']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.custom-theme [data-element-id='add-new-prompt-description-input']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.dark .custom-theme [data-element-id='add-new-prompt-description-input']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.custom-theme [data-element-id='add-new-prompt-tags-input'] input:focus {
    border-color: var(--border-outline) !important;
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.dark .custom-theme [data-element-id='add-new-prompt-tags-input'] input:focus {
    border-color: var(--border-outline) !important;
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.custom-theme [data-element-id='add-new-prompt-title-input']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.dark .custom-theme [data-element-id='add-new-prompt-title-input']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.custom-theme [data-element-id='add-new-prompt-button'] {
    background: var(--user-msg-bg);
}
.custom-theme [data-element-id='add-new-prompt-button']:hover {
    background: var(--side-bar-bg);
}
.custom-theme [data-element-id='prompt-library-one-prompt-block'] {
}
.custom-theme [data-element-id='prompt-library-use-button'] {
    background: var(--user-msg-bg);
    transition: background 0.2s ease;
}
.custom-theme [data-element-id='prompt-library-use-button']:hover {
    background: var(--side-bar-bg);
}
.custom-theme [data-element-id='close-modal-button'] {
    background: var(--user-msg-bg);
    transition: background 0.2s ease;
}
.custom-theme [data-element-id='close-modal-button']:hover {
    background: var(--side-bar-bg);
}
.custom-theme [data-element-id='update-prompt-button'] {
    background: var(--user-msg-bg);
}
.custom-theme [data-element-id='update-prompt-button']:hover {
    background: var(--side-bar-bg);
}
.custom-theme [data-element-id='select-characters-modal-title'] {
    color: var(--side-bar-bg);
}
.dark .custom-theme [data-element-id='select-characters-modal-title'] {
    color: var(--user-msg-bg);
}
.custom-theme [data-element-id='ai-characters'].selected {
    background: var(--light-bg);
    border: solid var(--side-bar-bg);
    color: var(--side-bar-bg);
}
.custom-theme [data-element-id='ai-characters'].selected:hover {
    background: var(--light-bg);
}
.dark .custom-theme [data-element-id='ai-characters'].selected {
    background: var(--light-bg);
    border: solid var(--user-msg-bg);
    color: white;
}
.dark .custom-theme [data-element-id='ai-characters'].selected:hover {
    background: var(--light-bg);
}
.custom-theme [data-element-id='sort-characters']:focus,
.custom-theme [data-element-id='search-characters']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.dark .custom-theme [data-element-id='sort-characters']:focus,
.dark .custom-theme [data-element-id='search-characters']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.custom-theme [data-element-id='create-chatacter'] {
    background: var(--user-msg-bg);
    transition: background 0.2s ease;
}
.custom-theme [data-element-id='create-chatacter']:hover {
    background: var(--side-bar-bg);
}
.custom-theme [data-element-id='one-ai-character-block'] {
    transition: all 0.2s ease-in-out;
}
.custom-theme [data-element-id='one-ai-character-block']:hover {
    box-shadow: 0 0 0 3px var(--light-bg);
}
.custom-theme [data-element-id='add-ai-character'] {
    color: var(--user-msg-bg);
    transition: all 0.2s ease-in-out;
}
.custom-theme [data-element-id='add-ai-character']:hover {
    color: var(--side-bar-bg);
}
.custom-theme [data-element-id='profile-setting-save-button'] {
    background: var(--user-msg-bg);
    transition: all 0.2s ease-in-out;
}
.custom-theme [data-element-id='profile-setting-save-button']:hover {
    background: var(--side-bar-bg);
}
.custom-theme [data-element-id='ai-characters-title-input']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.dark .custom-theme [data-element-id='ai-characters-title-input']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.custom-theme [data-element-id='ai-characters-description-input']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.dark .custom-theme [data-element-id='ai-characters-description-input']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.custom-theme [data-element-id='ai-characters-pictureurl-input']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.dark .custom-theme [data-element-id='ai-characters-pictureurl-input']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.custom-theme [data-element-id='ai-characters-system-instruction-input']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.dark .custom-theme [data-element-id='ai-characters-system-instruction-input']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.custom-theme [data-element-id='ai-characters-welcome-message-input']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.dark .custom-theme [data-element-id='ai-characters-welcome-message-input']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.custom-theme [data-element-id='ai-characters-add-training-examples'] {
    color: var(--user-msg-bg);
}
.custom theme [data-element-id='one-training-example-block'] textarea:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.custom-theme [data-element-id='save-ai-character-button'] {
    background: var(--user-msg-bg);
    transition: all 0.2s ease-in-out;
}
.custom-theme [data-element-id='save-ai-character-button']:hover {
    background: var(--side-bar-bg);
}
.custom-theme [data-element-id='profile-setting-image-url']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.custom-theme [data-element-id='profile-setting-information-input']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.custom-theme [data-element-id='profile-setting-save-button'] {
    background: var(--user-msg-bg);
    transition: all 0.2s ease-in-out;
}
.custom-theme [data-element-id='profile-setting-save-button']:hover {
    background: var(--side-bar-bg);
}

.custom-theme [data-element-id='context-limit-select']:focus,
.custom-theme [data-element-id='model-select']:focus,
.custom-theme [data-element-id='new-system-instruction']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.custom-theme [data-element-id='save-model-settings-button'] {
    background: var(--user-msg-bg);
    transition: all 0.2s ease-in-out;
}
.custom-theme [data-element-id='save-model-settings-button']:hover {
    background: var(--side-bar-bg);
}
.custom-theme [data-element-id='create-new-plugin-button'] {
    color: var(--user-msg-bg);
    transition: all 0.2s ease-in-out;
}
.custom-theme [data-element-id='create-new-plugin-button']:hover {
    color: var(--side-bar-bg);
}
.custom-theme [data-element-id='import-plugin-button'] {
    color: var(--user-msg-bg);
    transition: all 0.2s ease-in-out;
}
.custom-theme [data-element-id='import-plugin-button']:hover {
    color: var(--side-bar-bg);
}
.dark .custom-theme [data-element-id='create-new-plugin-button']:hover {
    color: var(--chat-item-bg);
}
.dark .custom-theme [data-element-id='import-plugin-button']:hover {
    color: var(--chat-item-bg);
}
.custom-theme [data-element-id='plugin-item-setting-tab'].selected {
    color: var(--user-msg-bg);
    transition: all 0.2s ease-in-out;
}
.custom-theme [data-element-id='plugin-item-setting-tab'].selected:hover {
    color: var(--side-bar-bg);
}
.dark .custom-theme [data-element-id='plugin-item-setting-tab'].selected {
    color: var(--user-msg-bg);
    transition: all 0.2s ease-in-out;
}
.dark .custom-theme [data-element-id='plugin-item-setting-tab'].selected:hover {
    color: var(--side-bar-bg);
}
.custom-theme [data-element-id='plugin-url-input']:focus {
    border-color: var(--border-outline) !important;
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.custom-theme [data-element-id='continue-import-plugin-button'] {
    background: var(--user-msg-bg);
    transition: all 0.2s ease-in-out;
}
.custom-theme [data-element-id='continue-import-plugin-button']:hover {
    background: var(--side-bar-bg);
}
.custom-theme [data-element-id='chat-folder']:hover {
    background: var(--light-bg);
}
.custom-theme [data-element-id='chat-folder']:focus-within {
    background: var(--light-bg);
}
.custom-theme [data-element-id='chat-folder'] textarea {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}

.custom-theme [data-element-id='change-character-button']:hover,
.custom-theme [data-element-id='reset-character-button']:hover,
.custom-theme [data-element-id='voice-input-button']:hover,
.custom-theme [data-element-id='upload-document-button']:hover,
.custom-theme [data-element-id='search-shortcut-button']:hover,
.custom-theme [data-element-id='mention-agent-button']:hover,
.custom-theme [data-element-id='prompt-library-small-button']:hover,
.custom-theme [data-element-id='output-settings-button']:hover {
    background: transparent;
    color: var(--dark-hover);
}

.custom-theme [data-element-id='change-character-button'],
.custom-theme [data-element-id='reset-character-button'],
.custom-theme [data-element-id='voice-input-button'],
.custom-theme [data-element-id='upload-document-button'],
.custom-theme [data-element-id='search-shortcut-button'],
.custom-theme [data-element-id='mention-agent-button'],
.custom-theme [data-element-id='prompt-library-small-button'],
.custom-theme [data-element-id='output-settings-button'] {
    background: transparent;
    color: var(--user-msg-bg);
    transition: background 0.5s ease;
}

.dark .custom-theme [data-element-id='voice-input-button']:hover,
.dark .custom-theme [data-element-id='upload-document-button']:hover,
.dark .custom-theme [data-element-id='search-shortcut-button']:hover,
.dark .custom-theme [data-element-id='mention-agent-button']:hover,
.dark .custom-theme [data-element-id='prompt-library-small-button']:hover,
.dark .custom-theme [data-element-id='output-settings-button']:hover {
    background: var(--user-msg-bg);
    color: white;
}

.dark .cuÏstom-theme [data-element-id='change-character-button']:hover,
.dark .custom-theme [data-element-id='reset-character-button']:hover {
    color: var(--user-msg-bg);
}

.dark .custom-theme [data-element-id='voice-input-button'],
.dark .custom-theme [data-element-id='upload-document-button'],
.dark .custom-theme [data-element-id='search-shortcut-button'],
.dark .custom-theme [data-element-id='mention-agent-button'],
.dark .custom-theme [data-element-id='prompt-library-small-button'],
.dark .custom-theme [data-element-id='output-settings-button'] {
    background: transparent;
    color: var(--user-msg-bg);
    transition: background 0.2s ease;
}

.custom-theme [data-element-id='search-input']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}

.dark .custom-theme [data-element-id='search-input']:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 0 1.6px var(--border-outline);
}
.custom-theme [data-element-id='search-action-open-ai-characters']:hover,
.custom-theme [data-element-id='search-action-open-prompt-library']:hover,
.custom-theme [data-element-id='search-action-switch-chat-model']:hover {
    background: var(--hover-overlay);
}

.custom-theme [data-element-id='edit-title-button']:hover,
.custom-theme [data-element-id='delete-chat-button']:hover,
.custom-theme [data-element-id='move-to-folder-button']:hover,
.custom-theme [data-element-id='archive-chat-button']:hover,
.custom-theme [data-element-id='export-chat-button']:hover {
    background: var(--hover-overlay);
}